<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>

    <body>
        <h1>This is the total number of users: <%= userCount %></h1>
        <form action="/user/newUser" method="get">
            <button>Join us Today!!</button>
        </form>
    </body>
</html>