<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new User</title>
    <style>
        form {
            display: flex;
            background: rgba(177, 252, 255, 0.774);
            flex-direction: column;
            margin: 10px;
            width: 50%;
        }

        input {
            min-width: 250px;
            width: fit-content;
            margin: 10px 0px 10px 10px;
        }

        button {
            min-width: 100px;
            margin: 10px 0px 10px 10px;
            width: fit-content;
        }
    </style>
</head>
<body>
    <form action="/user" method="post">
        <h1>&nbsp; <u>Create User</u></h1>
        &nbsp; Username: <input type="text" name="username" id="username" placeholder="Enter username">
        &nbsp; Email:<input type="email" name="email" id="email" placeholder="Enter email ID">
        &nbsp; Password: <input type="password" name="password" id="password" placeholder="Enter password">
        <button>Register</button>
    </form>
</body>
</html>